.searchButton {
    text-align: right;
    position: fixed;
    top: 20px;
    right: 550px;
}

.searchAgain {
    text-align: right;
    position: fixed;
    top: 70px;
    right: 550px;
}

.referenceIcon {
    text-align: left;
    position: fixed;
    bottom: 0;
    right: 5px;
    font-size: 10px;
}

.referenceNames {
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 5px;
    font-size: 15px;
}

.center {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

